<footer class="footer" id="footer">
    <h1>Send Us An Email!</h1>
    <h3><a href="mailto:admin@sfaudioguild.com">SFAudioGuild@Gmail.com</a></h3>
    <p>...or find us on Social Media</p>
    <a href="https://www.instagram.com/sfaudioguild"><img class="instaicon" src="assets/instaiconzen.png"></a>
    <a href="https://www.youtube.com/channel/UC-Dz7rJh7eer2HbHWdFCgHA"><img class="youtubeicon" src="assets/youtube_PNG21.png"></a>
    <br>
    <p class="watermark">2020 Web Design by Julian Ranieri</p>
</footer>
