<header class="header">
    <img class="sfag" src="{{ site.baseurl }}/assets/sfag.png">
    <h2 class="banner"><i>SFX, Sound Design, Scores!</i></h2>
</header>
<div class="nav" id="nav">
    <div class="nav-item"><a href="{{ site.baseurl }}/index.html">Home</a></div>
    <div class="nav-item"><a href="{{ site.baseurl }}/store.html">Store</a></div>
    <!-- <div class="nav-item"><a href="{{ site.baseurl }}/portfolio.html">Portfolio</a></div> -->
    <div class="nav-item"><a href="{{ site.baseurl }}/team.html">Team</a></div>
</div>
<!-- <hr> -->