<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/sfag.png">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/mainstyle.css">
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.25/default/snipcart.css" />
    <audio id="navaudio" src="{{ site.baseurl }}/assets/sfui2.wav"></audio>
</head>