:root {
    --text-color: rgb(63, 55, 114);
    --background-blue: rgb(245, 249, 255);
    --strong-blue: rgb(0, 119, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    overscroll-behavior: none;
    background-image: url("/assets/IMG_2773_edited.jpg");
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

iframe {
    width: 80%;
    max-width: 400px;
    min-height: 300px;
    /* border-radius: 20px; */
}

p {
    font-size: large;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
}

a small {
    font-size: 1rem;
    text-decoration: underline;
}

.adbox a {
    text-decoration: underline;
}

ul {
    line-height: 120%;
}

h1, h3 {
    font-weight: 600;
}

iframe {
    width: 100%;
    border: 1px solid black;
}

/* header */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* background-image: url("/assets/IMG_2773_edited.jpg");
    background-position: top;
    background-attachment: fixed; */
}

.sfag {
    display: flex;
    justify-content: left;
    width: 9vw;
    min-width: 60px;
    max-width: 110px;
    height: auto;
    padding-right: 10px;
}

.banner {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

/* navigation  */

.nav {
    background-color: var(--background-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.nav-item {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    border-bottom: 3px solid transparent;
}

.nav-item:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.nav-item:hover:after {
    width: 100%;
	background: var(--strong-blue);
}

/* content */

main {
    background-color: white;
    opacity: 0.92;
    flex: 1;
}

.advert-main {
    width: 50vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.advert-secondary {
    width: 50vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10px;
}

.adbox {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.adbox-secondary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#community {
    background-image: url("/assets/community.png");
    background-size: cover;
}

.pack-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 5px;
}

.store-img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* main button...
    also check bootstrapped styles in html
*/

.main-btn {
    min-width: 100px;
    box-shadow: 3px 3px 8px rgb(37, 37, 37);
    margin-right: 20px;
    text-shadow: rgb(58, 58, 58) 1px 1px;
    font-weight: 600;
}

.main-btn:hover {
    margin-bottom: 1px;
    margin-right: 21px;
    box-shadow: 5px 5px 5px rgb(37, 37, 37);
    background-color: rgb(233, 48, 85);
}

.main-btn:active {
    background-color: rgb(87, 0, 87);
}

/* displaycase */

.display-item {
    width: 100%;
    max-width: 300px;
    /* border-radius: 20px; */
}

.img-div {
    position: relative;
    display: inline-block;
    padding: 10px
}

.img-div .di-btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-shadow: #555 1px 1px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    /* border-radius: 5px; */
}

.img-div .di-btn:hover {
    background-color: rgb(0, 119, 255);
}

.img-div:hover .di-btn {
    display: block;
}

.di-btn:active {
    border: none;
    outline: none;
}

/* more info */

.moreinfo-item {
    width: 100%;
    max-width: 300px;
    /* border-radius: 20px; */
}

.moreinfo-text {
    max-width: 600px;
}

.moreinfo-imgdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.moreinfo-imgdiv .di-btn {
    background-color: #555;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-shadow: #555 1px 1px;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    /* border-radius: 5px; */
    width: 200px;
    box-shadow: 3px 3px 3px rgb(37, 37, 37);

}

.moreinfo-imgdiv .di-btn:hover {
    background-color: rgb(0, 119, 255);
    margin-bottom: 1px;
    margin-right: 1px;
    box-shadow: 5px 5px 5px rgb(37, 37, 37);
}

.moreinfo-imgdiv .di-btn:active {
    background-color: rgb(255, 102, 0);
    margin-bottom: -2px;
    margin-right: -2px;
    box-shadow: 0px 0px 0px rgb(37, 37, 37);
}

/* footer */

#footer {
    margin-top:auto; /* trick to make footer stay at bottom... needs body to have flex */
    height: auto;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: var(--background-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 1px rgb(210, 210, 210);
}

/* icons */

.instaicon {
    width: 50px;
    padding-left: 10px;
}

.instaicon:hover {
    opacity: 0.7;
}

.youtubeicon {
    width: 60px;
    padding-left: 15px;
}

.youtubeicon:hover {
    opacity: 0.7;

}

