
<!DOCTYPE html>
<html>
    {% include mainhead.html %}
    <body>
        {% include header.html %}
        <div>
        {{ content }}
        <br>
        {% include footer.html %}
        </div>
        <div id="snipcart" data-api-key="MmFkZWQyMzMtOTI0Yy00M2FlLWE0OGMtM2Q3ZWIxNTA1ZGVkNjM3NDEyNTQzOTEyMzc3NDg4" hidden></div>
    </body>
    <script src="{{ site.baseurl }}/assets/script.js"></script>
    <script async src="https://cdn.snipcart.com/themes/v3.0.25/default/snipcart.js"></script>
</html>