---
title: 'SF Audio Guild | AMP Free'
---

{% extends "layouts/base.html" %} 
{% block content %}
<div class="container p-3">
  <div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-row justify-content-start flex-wrap">
      <div class="moreinfo-imgdiv">
        <img class="moreinfo-item" src="/assets/magicpackfree.jpg">
        <br>
        <button class="di-btn" onclick="downloadPrompt('/assets/AMP_Demo_SF_Audio_Guild.zip')">Download Now</button>
      </div>
      <br />
      <div class="moreinfo-text">
        <p>Creative and unique magic sound effects recorded and produced by our own in house Arch-Mage Audio Wizards. Everything from elemental blasts to heals and loopable buffs/debufs.</p>
        <p>Use this small DEMO pack to take care of the basics and get a taste for out style. Check out the FULL Ancient Magic Pack to fill out the rest of your large projects</p>
      </div>
    </div>
    <br />
    <iframe src="https://www.youtube.com/embed/dBPSmhcLOBA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>
{% endblock %}