---
title: 'SF Audio Guild | AWP Free'
---

{% extends "layouts/base.html" %} 
{% block content %}
<div class="container p-3">
  <div class="d-flex flex-row justify-content-start flex-wrap">
    <div class="moreinfo-imgdiv">
      <img class="moreinfo-item" src="/assets/weaponpackfree.jpg">
      <br>
      <button class="di-btn" onclick="downloadPrompt('/assets/AWP_Demo_SF_Audio_Guild.zip')">Download Now</button>
    </div>
    <br />
    <div class="moreinfo-text">
      <p>Combat sound effects for games set in medieval or fantasy settings. Complete with swings impacts and custom assembled attacks and combos for Swords, Daggers, Axes and more.</p>
      <p>Use this demo to take care of the basics and check out our full Ancient Weapons Pack to fill out your project</p>                    
    </div>
  </div>
  <br />
  <iframe src="https://www.youtube.com/embed/gKJfZtoXlkg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}